body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.technoContainer {
  background: #fff;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.technoContainer .albumWrapper {
  text-align: center;
}

.technoContainer span.yesNo {
  font-size: 80px;
  display: block;
  font-weight: bold;
}

.technoContainer img {
  width: 400px;
  height: auto;
}

.technoContainer img.loadingImg {
  width: 100px;
  height: auto;
}

.technoContainer img.playingIcon {
  margin: 10px auto;
  display: block;
  width: 12px;
  height: auto;
}

.technoContainer .songInfo {
  margin-bottom: 10px;
}

.technoContainer span.songArtist {
  font-weight: bold;
}

.technoContainer span.tag {
  display: inline-block;
  background: #ddd;
  color: #fff;
  font-size: 11px;
  padding: 2px 6px;
  margin: 3px;
}

.technoContainer .separator {
  display: block;
  background: #eee;
  width: 100%;
  height: 1px;
  margin: 20px 0 16px;
}

.technoContainer .areYou span {
  font-size: 16px;
}

.technoContainer a.spotifyConnect {
  display: block;
  text-transform: uppercase;
  background: #2ebd59;
  max-width: 220px;
  margin: 10px auto;
  padding: 10px 6px;
  border-radius: 500px;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

.technoContainer a.spotifyConnect:hover {
  background: #1ed760;
}



a.viewGit {
  color: #000;
  font-size: 13px;
  text-decoration: none;
}

a.viewGit i {
  font-size: 18px;
  position: relative;
  top: 1px;
}


@media only screen and (max-width: 768px) {
  .technoContainer img {
    width: 100%;
  }
}
