body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.technoContainer {
  background: #fff;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  text-align: center;
}

.technoContainer .albumWrapper {
  text-align: center;
}

.technoContainer span.yesNo {
  font-size: 80px;
  display: block;
  font-weight: bold;
}

.technoContainer img {
  width: 400px;
  height: auto;
}

.technoContainer img.loadingImg {
  width: 100px;
  height: auto;
}

.technoContainer img.playingIcon {
  margin: 10px auto;
  display: block;
  width: 12px;
  height: auto;
}

.technoContainer span.songArtist {
  font-weight: bold;
}

a.viewGit {
  position: absolute;
  left: 16px;
  bottom: 16px;
  color: #000;
  font-size: 13px;
}


@media only screen and (max-width: 768px) {
  a.viewGit {
    font-size: 13px;
    position: relative;
    left: initial;
    bottom: initial;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  .technoContainer img {
    width: 100%;
  }


}
